html, body { width: 100%; height: 100% }

body {
    color: blanchedalmond;
    margin: 0;
    background-color: #17132A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Trebuchet MS", sans-serif;
}

main {
    max-width: 90%;
    max-height: 90%;
}

.hidden {
    display: none !important;
}


.page {
    max-height: 100%;
    max-width: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    background: #FFF2;
}

.page {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    gap: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

p {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    gap: 3px;
}

/*--- Inputs with floating labels ---*/

input, span {
    background-color: transparent;
    color: orange;
    font-size: 1em;
}

label {
    display: block;
    position: relative;
    height: 1.5em;
    border-bottom: 1px solid orange;
}

input[type=text] {
    border-style: none;
    outline: none;
    width: 110px;
}

label span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.25s ease all;
}

input[type=text]:active ~ span,
input[type=text]:focus ~ span,
input[type=text]:focus-within ~ span,
input[type=text]:not(:placeholder-shown) ~ span {
    font-size: 0.5em;
    top: -2em;
    text-transform: uppercase;
}

/*--- Button ---*/

button {
    background-color: #FAD240;
    border-radius: 3px;
    color: purple;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
    outline: 0;
    background: #EE9000;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

button:disabled {
    /*filter: saturate(0.75) opacity(0.5);*/
    /*-webkit-filter: saturate(0.75) opacity(0.5);*/
    cursor: not-allowed;
}

/*--- Icon Buttons ---*/

.icon-button {
    padding: 4px;
    background: none;
    float: right;
}

.icon-button:not(:disabled):hover,
.icon-button:not(:disabled):focus {
    background: none;
    box-shadow: none;
}
button svg {
    color: #FAD240;
    height: 1em;
    width: 16px;
    vertical-align: -0.125em;
}

.icon-button:not(:disabled):hover svg,
.icon-button:not(:disabled):focus svg {
    color: #EE9000;
}

#add {
    color: green;
}

#question {
    color: blue;
}

#add use:first-child, #question use:first-child {
    color: white;
}

svg.dual-icon use:last-child {
    x: 40;
    y: 40;
    scale: 0.7;
}

/*--- Player Row ---*/

li.player {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    padding: 0.5em 0.75em;

}

li.player span {
    flex-grow: 1;
}

li.player button {
    display: none;
}

li.player:not([invite]) .invite-friend,
li.player[invite="pending"] .invite-pending,
li.player[invite="accepted"] .play-game {
    display: block;
}



.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#play-game {
    height: 800px;
    width: 800px;
    padding: 0;
}

.back-button {
    position: fixed;
    top: 1em;
    left: 1em;
    height: 2em;
    width: 2em;
}

.back-button svg {
    height: 1.5em;
    width: 1.5em;
}
